<div class="contact">
    @ChildContent
</div>

@code {
    // Enables insertion of nested contact elements like InfoContact inside this wrapper
    [Parameter] public RenderFragment ChildContent { get; set; }
}