<div class="groupgeneralinfo">
	<h2>@Title</h2>
	<div class="@GroupClass">
		@ChildContent
	</div>
</div>

@code {
	[Parameter] public string Title { get; set; }
	[Parameter] public RenderFragment ChildContent { get; set; }
	[Parameter] public string GroupClass { get; set; }
}
