<div class="groupcard">
	<div class="grouptitle">
		<h2>@Title</h2>
		<a>@Link</a>
	</div>
	<div class="group @GroupClass">
		@ChildContent
	</div>
</div>

@code {
	[Parameter] public string Title { get; set; }
	[Parameter] public string Link { get; set; }
	[Parameter] public RenderFragment ChildContent { get; set; }
	[Parameter] public string GroupClass { get; set; }
}
