<div class="itemsinfogeneral">
	<span class="">@Date</span>
	<h3 class="">@Title</h3>
	<span class="">@Description</span>
</div>

@code {
	[Parameter] public string Date { get; set; }
	[Parameter] public string Title { get; set; }
	[Parameter] public string Description { get; set; }
}
