<div class="containerinfogeneral">
	<i class="fas fa-circle fa-xs"></i>
	<div class="itemsinfogeneral">
		<span class="">@Date</span>
		<h3 class="">@Title</h3>
		<span class="">@Description</span>
	</div>
</div>

@code {
	[Parameter] public string Date { get; set; }
	[Parameter] public string Title { get; set; }
	[Parameter] public string Description { get; set; }
}
