<i class="@GroupClass"></i>
<span>@Title</span>
<span>@Subtitle</span>

@code {
	[Parameter] public string Title { get; set; }
	[Parameter] public string Subtitle { get; set; }
	[Parameter] public string GroupClass { get; set; }
}
