<div class="infocontacttitle">
	<i class="@GroupClass"></i>
	<h4>@Title</h4>
</div>
<span>@Subtitle</span>

@code {
	[Parameter] public string Title { get; set; }
	[Parameter] public string Subtitle { get; set; }
	[Parameter] public string GroupClass { get; set; }
}
