<h3>@Title</h3>
<span>@Origin</span>
<span>@Author</span>
<p>@Description</p>

@code {
	[Parameter] public string Title { get; set; }
	[Parameter] public string Origin { get; set; }
	[Parameter] public string Author { get; set; }
	[Parameter] public string Description { get; set; }
}
