<h3>@Title</h3>
<img src="@ImageUrl" alt="Project Image" />
<span>@Description</span>

@code {
	[Parameter] public string Title { get; set; }
	[Parameter] public string ImageUrl { get; set; }
	[Parameter] public string Description { get; set; }
}