<div class="profile-item profile-image-wrapper">
	<img src="@ImageUrl" alt="Profile photo" />
</div>
<div class="profile-item profile-info">
	<h1>@Title</h1>
	<div>@Subtitle</div>
</div>
<div class="profile-item profile-actions">
	<button>Download Resume</button>
</div>

@code {
	[Parameter] public string Title { get; set; }
	[Parameter] public string Subtitle { get; set; }
	[Parameter] public string ImageUrl { get; set; }
}